@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #B5AA9D;
  display: grid;
  grid-template-rows: max-content;
  font-family: "Roboto", sans-serif; }

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif; }

h2 {
  text-align: center; }

h3 {
  font-size: x-large; }

h4 {
  font-size: large; }

ul {
  text-align: center;
  font-size: large; }

li {
  display: inline;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

header {
  background-color: #7C90A0;
  display: grid;
  grid-template-rows: max-content; }

footer {
  text-align: center;
  display: grid;
  grid-template-rows: max-content; }

.seccionRedes {
  display: flex;
  justify-content: space-around; }

.pageImages {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .pageImages .image {
    width: 30%;
    text-align: center; }

.imagenLogoPrincipal {
  width: 20%; }

.logoPrincipal {
  text-align: center; }

.menu {
  margin: 40px;
  font-size: x-large; }

.ancla {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

.ancla:hover {
  color: #B5AA9D; }

a:hover {
  color: #B5AA9D; }

.logo {
  width: 10%; }

.redes:hover {
  color: #7C90A0; }

.titulo {
  text-align: center; }

#titulo {
  text-align: center; }

.mapa {
  text-align: center;
  margin-left: 25%;
  margin-bottom: 2%;
  width: 50%; }

.fotoTrekking {
  width: 100%;
  text-align: center; }

/* Pages */
.pageBackground {
  width: 100%; }

.pageImages {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.contenedorImagen {
  width: 25%; }

.contenedorImagen:hover {
  transform: scale(1.15, 1.15); }

.image {
  width: 30%;
  text-align: center;
  padding: 2%; }

.fondoContacto {
  width: 100%; }

.image2 {
  width: 90%;
  margin-top: 10%; }

.ulPrincipal {
  background-color: #7C90A0; }

.paginaActual {
  font-family: 'Koulen', cursive;
  font-size: xx-large;
  background-color: #000;
  color: #B5AA9D;
  margin-bottom: 0; }

.disclaimer {
  display: none; }

.pageImages {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%; }

.contenedorContacto {
  text-align: center;
  margin-left: 37%; }

.contacto1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly; }

.textoFormulario {
  background-color: #7C90A0;
  border-radius: 20px; }

#enviar {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #4E5166;
  width: 35%;
  margin-left: 34%; }

.logoRedes {
  width: 40px; }

.linkedIn {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

.linkedIn:hover {
  color: #000; }

.linkedIn2:hover {
  color: #7C90A0; }

@media (max-width: 480px) {
  .ancla {
    font-size: smaller; }
  #titulo {
    font-size: medium; }
  .logo {
    width: 15%; }
  .contenedorImagen {
    width: 35%;
    margin-left: 10%; }
  .preMapa {
    font-size: medium; }
  h3 {
    font-size: medium; }
  h4 {
    font-size: small; }
  .logoRedes {
    width: 20px; }
  .mapa {
    width: 50%;} }
